.wbdv-profile-panel{
    height: 100%;
    background-color: #faa41f;
}

.wbdv-profile-map{
    width: 100%;
    height: 400px;
}

.wbdv-profile-photo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: wheat;
}

.wbdv-profile-panel-container{
    padding-top: 40px;
    height: auto;
}

.wbdv-profile-item-label{
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    font-size: small;
}

.wbdv-profile-text{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: large;
}

.wbdv-profile-edit-title-container{
    width: 100%;
    height: 70px;
    background-color: #faa41f;
    color: white;
}

.wbdv-profile-edit-title{
    font-weight: 700;
    font-size: 40px;
}

.wbdv-profile-edit-back-btn{
    color: #FFFFEE!important;
}

.wbdv-profile-input-user,
.wbdv-profile-input-pass {
    box-shadow: none !important;
    outline: 0px !important;
    max-width: 193px !important;
}

.wbdv-journal-panel-title{
    background-color: #faa41f;
    font-weight: bolder;
    color: white ;
    height: 40px;
}

.wbdv-journal-list{
    overflow-y: auto;
    max-height: 700px;
    min-height: 200px;
}